*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    height: clamp(320px, 370px, 420px);
    width: clamp(450px, 500px, 550px);
    margin-top: 100px;
    background-image: linear-gradient(125deg, hsl(0, 0%, 15%), hsl(0, 0%, 0%) 90%);
    border-radius: 3rem;
    corner-shape: squircle;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 5px 9px #ffffff49,
                0 1px 10px #00000030,
                0 4px 8px #00000015;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#cellContainer{
    height: clamp(215px, 265px, 315px);
    width: clamp(350px, 400px, 450px);
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-auto-rows: 50px;
    gap: 7px;
    padding: 20px;
}

.e{
    height: 50px;
    width: 50px;
    background-image: linear-gradient(125deg, hsla(0, 0%, 100%, 0.075), hsla(0, 0%, 100%, 0.048) 90%);
    border-radius: 7px;
    corner-shape: squircle;
    color: #dadced;
    box-sizing: border-box;
    padding-left: 4.5px;
    padding-top: 3px;
    font-size: 0.75rem;
    box-shadow: inset 0 5px 9px #ffffff1a,
                0 1px 10px #00000030,
                0 4px 8px #00000015;
}
.eFillerCells {
    height: 50px;
    width: 50px;
    background-image: linear-gradient(125deg, hsla(0, 0%, 15%, 0.842), hsla(0, 0%, 0%, 0.048) 90%);
    border-radius: 7px;
    corner-shape: squircle;
}

.lacebolla{
    display: grid;
    grid-template-columns: repeat(7, 50px);
    gap: 7px;
    margin-left: 20px;
}

span{
    color: #dadced;
}

.botones{
    width: clamp(450px, 500px, 550px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #dadced;
}

#frontwardE, #backwardE{
    border: 1px solid #dadced;
    border-radius: 50%;
    height: 25px;
    width: 25px;

}

#frontwardE{
    margin-left: 10px;
}

#backwardE{
    margin-right: 10px;
}



